<html>
<style>
    #barra{
        margin :0;
        padding-left : 10%;
        list-style: none;
        text-transform: uppercase;
        height: 10vh;
        width: 90%;
        background-color: white;
        opacity: 0.5;
    }

    #barra li{
        display: inline;
        margin: 2vh 5vw;
    }
</style>
<body>
    
    <ul id="barra">

        <li>The artist</li>
        <li>Shop</li>
        <li>Gallery</li>
        <li>Process</li>
        <li>FAQ</li>

    </ul>

</body>

</html>