<html>
<head>

    <title>
    {% block title %}{% endblock %}
    {% load static %}
    
    
    <!-- Bootstrap -->
    <link href="{% static 'DanchArtApp//vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     
  
    <!-- Styles -->
    <link href="{% static 'DanchArtApp/css/gestion.css' %}" rel="stylesheet">
    <link href="{% static 'DanchArtApp/css/estilos.css' %}" rel="stylesheet">

    </title>

</head>
{% load static %}
<body style="background-image: url({% static 'DanchArtApp/img/backg_main.jpg' %});">
    <h1 style="background-color:bisque; color: rgb(76, 117, 104) ; text-align: center;margin-top: 0%;;font-family: 'Typodanch';">Danchart</h1>
    {% include 'superior/barra.html' %}
    <h2 class="subtitulo mifuente" style=" rgb(30, 233, 165) ;text-align: right;height: 4vh; background-color: rgb(36, 124, 95); opacity: 0.7;">Style with love!</h2>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div style=" flex: 1; height: 85vh; background-color: transparent;"> 
        <div style="display: flex; width: 100vw;height: 100%;">   
            <div style=" width: 10vw;">
                Aqui van los acordeones
                <p>Los acordeones serian esos desplegables que salen, con todas las mismas opciones de arriba pero supongo que un poco mas cool. nunca he entendido porque hay 7 accesos distintos
                    a lo mismo pero bueno xD.
                </p>
            </div>
            
            
            <div style=" width: 70vw; background-color: bisque; border-radius: 2vh 2vw;">
                  
                {% block content %}
                
                
                {% endblock %}

            </div>

            
            <div style=" width: 20vw; background-color: transparent;">
                
            </div>
        </div> 
    
    </div>
    
    {% include 'inferior/footer.html' %}   
    <!-- Bootstrap -->
    <script src="{% static 'DanchArtApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'DanchArtApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
    
</html>