{% extends 'base.html' %}
{% block title %} Cuadros de navidad {% endblock %}
{% block content %}


<p>Aqui van cuadros, los cuales son clickeables y eso actualmente hay{{lista}}.</p>
{% for grupo in lista %}
  <div style="width: 100%; padding-left: 5rem; padding-right: 5rem; display: flex;"> 
  
    {% for tipo, cat in grupo %}

      <div class="card" style="width: 30%; margin-right: 2%;">
        <img src="{{tipo.imagen.url}}" class="card-img-top" alt="mecagoendios">
        <div class="card-body">
          <h5 class="card-title">{{cat}}</h5>
          <p class="card-text">Solicita Aqui tu cuadro con tu {{cat}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    {% endfor %}
 
  </div>
  {% endfor %}

{% endblock %}

