{% extends 'base.html' %}
{% block title %} Cuadros de navidad {% endblock %}
{% block content %}

<p>Aqui van cuadros, los cuales son clickeables y eso.</p>


    <div class="card" style="width: 25rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  

{% endblock %}