{% extends 'base.html' %}
{% block title %} Cuadros de navidad {% endblock %}
{% block content %}

<div style="border-radius: 1vh 1vw; background-color: rgb(255, 192, 203,.3);color:black: opacity: 0.3; height: 5rem; padding-left: 2rem;padding-top: 1rem;">
  <h1>Shop</h1>
</div>

{% for grupo in lista %}
  <div style="width: 100%; padding-left: 3rem; padding-right: 3rem; display: flex;"> 
  
    {% for tipo, cat in grupo %}

      <div class="card" style="width: 30%; margin-left:1% ;margin-right: 1%;margin-bottom: 3%;margin-top: 3%;">
        <img src="{{tipo.imagen.url}}" class="card-img-top" alt="mecagoendios"style="width: 100%; height: 60%;">
        <div class="card-body">
          <h5 class="card-title">{{cat}}</h5>
          <p class="card-text">Solicita Aqui tu cuadro con tu {{cat}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    {% endfor %}
 
  </div>
  {% endfor %}

{% endblock %}

