@font-face {
    font-family: 'Typodanch';
    src: url('..fonts/Typography/Typography Ties Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mifuente{
    font-family: 'Typodanch';
    font-size: 20;
}

.subtitulo{
    border-bottom-right-radius: 2vh 1vw;
    border-bottom-left-radius: 2vh 1vw;


}