<html>
<style>
    #pie{
        background-color: aquamarine;
        margin :0;
        padding : 0;
        list-style: none;
        text-transform: uppercase;
        width: 97%;
        display: flex;
        border-radius: 1vh 1vw;
        height: 8vh;
        align-self: center;
    }
</style>
<body>
    
    <div id='pie'>
        <div style="width: 33vw;">Aqui van los logos tambien</div>
        <div style="width: 34vw;">Aqui va otro elemento del footer</div>
        <div style="width: 33vw;">Meter cosas x</div>
        
    </div>

</body>

</html>