<html>
<style>
    #pie{
        background-color: aquamarine;
        margin :0;
        padding : 0;
        list-style: none;
        text-transform: uppercase;
        width: 97%;
        display: flex;
        border-radius: 1vh 1vw;
        height: 8vh;
        align-content: center;
    }
</style>
<body>
    <footer class="text-faded text-center py-5" style="background-color: rgb(36, 124, 95);">
        <div class="container">
          <p class="m-0">
              <a href="#" class="link">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="link">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="link">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
          </p>
          <p class="m-0 mbt">
              <a href="sample.html" class="link">Política de privacidad</a> ·
              <a href="sample.html" class="link">Aviso legal</a> ·
              <a href="sample.html" class="link">Cookies</a>
          </p>
          <p class="m-0 mbt1">&copy; Gestión de Pedidos 2020</p>
        </div>
      </footer>
</body>

</html>